@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@600&display=swap');

* {
  box-sizing: border-box;
}

body {
  color: hsl(192, 100%, 9%);
  font-family: 'Open Sans', sans-serif;
  margin: 0;
}

h1,
h2 {
  font-family: 'Poppins', sans-serif;
}

img {
  max-width: 100%;
}

header {
  background: url('images/bg-hero-desktop.svg') center center/cover hsl(193, 100%, 96%);
  padding: 40px 0;
}

.container {
  padding: 0 20px;
  margin: 0 auto;
  max-width: 100%;
  width: 1000px;
}

.flex {
  display: flex;
  align-items: center;
}

.flex > div,
.flex > ul {
  flex: 1;
}

.btn {
  border-radius: 50px;
  background-color: #fff;
  border: none;
  font-weight: 700;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  font-size: 14px;
  padding: 15px 60px;
}

/* Navigation Bar */
nav {
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
}

/* Main Header */
.btn-primary {
  background-color: hsl(322, 100%, 66%);
  color: #fff;
}

/* Main Body */
.section {
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  margin: 40px 0;
  padding: 60px;
  background-color: #fff;
}

.section img {
  width: 80%;
}

.section p {
  color: #bfbcba;
}

/* Secondary Section */
.small-section {
  display: inline-block;
  z-index: 1;
  position: relative;
  margin-bottom: -50%;
}

.center {
  text-align: center;
}

/* Footer */
footer {
  background-color: hsl(192, 100%, 9%);
  color: #fff;
  padding: 180px 0 60px;
}

footer ul {
  list-style-type: none;
  padding: 0;
}

footer ul li {
  margin-bottom: 20px;
  margin-right: 20px;
}

footer .social-media {
  display: flex;
  align-items: center;
  justify-content: center;
}

footer .circle {
  height: 40px;
  width: 40px;
  display: inline-flex;
  border-radius: 50%;
  border: 1px solid #fff;
  margin-right: 10px;
  color: #fff;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.icons {
  margin-right: 5px;
}

.align-start {
  align-items: flex-start;
}

.attribution {
  font-size: 11px;
  text-align: right;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

/* Media Queries */
@media screen and (max-width: 768px) {
  body {
		text-align: center;
	}

	nav.flex {
		flex-direction: row;
	}

	.header-img {
		margin-top: 40px;
		margin-left: 0;
		width: 100%;
	}

	.flex {
		flex-direction: column;
	}

	.box-reverse-mobile {
		flex-direction: column-reverse;
	}

	footer ul {
		padding: 0;
		width: 100%;
    text-align: left;
	}

	footer .attribution {
		text-align: center;
	}
}
